<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>JCEF帮助文档</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<a href="javascript:testToJava()">测试与java代码交互</a>
	<br>
	
	<br>
	<a href="javascript:testToJava2()">测试与java代码交互(同步的方式)</a>
	<br><br>
	<a href="javascript:testToJava3()">测试与java代码交互(同步的方式-1)</a>

	<div style="color:red;">注意，有些jcef版本使用 alert() 会导致程序闪退，在项目中，尽量避免使用原生的alert、confirm函数，而使用UI框架的弹窗函数，本文章将原来的alert换为了直接输出到页面上 </div>

	<div id="log">

	</div>
</body>
<script>

function testToJava(){
	window.java({
	    request: '发送给JAVA的数据',
	    persistent:false,
	    onSuccess: function(response) {
			logPrint("返回的数据:"+response);
	    },
	    onFailure: function(error_code, error_message) {
			//失败处理
		}
	});
}

/***
 * 返回一个Promise对象，再利用await，实现js与java交互的同步处理
 */
function execJava(data){
	return new Promise(function(resolve, reject) {
		window.java({
		    request: data,
		    persistent:false,
		    onSuccess: function(response) {
		    	resolve(response);
		    },
		    onFailure: function(error_code, error_message) {
				//失败处理
			}
		});
	});
}

/***
 * 此函数需要使用 async 声明
 */
async function testToJava2(){
	var data=await execJava("第一个调用，两秒后打印下一个调用的结果");
	logPrint("返回的数据："+data);
	data=await execJava("暂停");
	logPrint("返回的数据："+data);
}


function testToJava3(){
	execJava("第一个调用")
	.then(function(data){
		logPrint("返回的数据："+data);
		return execJava("第二个调用");
	})
	.then(function(data){
		logPrint("返回的数据："+data);
	});
}

function logPrint(data){
	document.getElementById("log").innerHTML=document.getElementById("log").innerHTML+data+"<br>";
}
</script>
<!-- author:玄翼猫 -->
</html>